@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";


html,
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #ffffff 0%, #f4f7fa 50%, #8da9c4 100%);
  background-attachment: fixed;
}


html {
  scroll-behavior: smooth;
}
